Q1

In [1]:
# Importing libraries and loading dataset
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset
data = pd.read_csv(r"C:\Users\itanm\Downloads\50_Startups (1).csv")

# Display the first few rows of the dataset
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
# Preprocessing data
# Inspect the dataset
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# Check for missing values
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [4]:
# Convert 'State'variable to dummy variables
data = pd.get_dummies(data, columns=['State'], drop_first=True)

In [5]:
# Define features and target variable
X = data[['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida', 'State_New York']]
y = data['Profit']

In [6]:
# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# Single feature regression (e.g., 'R&D Spend')
X_train_single = X_train[['R&D Spend']]
X_test_single = X_test[['R&D Spend']]

In [8]:
# Create and fit the model
model_single = LinearRegression()
model_single.fit(X_train_single, y_train)

LinearRegression()

In [9]:
# Predict on the test set
y_pred_single = model_single.predict(X_test_single)

In [10]:
# Evaluate the model
mse_single = mean_squared_error(y_test, y_pred_single)
r2_single = r2_score(y_test, y_pred_single)

In [11]:
print(f"Single Regression - Mean Squared Error (MSE): {mse_single:.2f}")
print(f"Single Regression - R-squared (R^2): {r2_single:.2f}")

Single Regression - Mean Squared Error (MSE): 59510962.81
Single Regression - R-squared (R^2): 0.93

In [12]:
accuracy = 1-mse_single / y_test.var()
print('Accuracy: ', accuracy*100)

Accuracy:  93.38597298407755

In [13]:
# Create and fit the multiple regression model
model_multiple = LinearRegression()
model_multiple.fit(X_train, y_train)

LinearRegression()

In [14]:
# Predict on the test set
y_pred_multiple = model_multiple.predict(X_test)

In [15]:
# Evaluate the model
mse_multiple = mean_squared_error(y_test, y_pred_multiple)
r2_multiple = r2_score(y_test, y_pred_multiple)

In [16]:
print(f"Multiple Regression - Mean Squared Error (MSE): {mse_multiple:.2f}")
print(f"Multiple Regression - R-squared (R^2): {r2_multiple:.2f}")

Multiple Regression - Mean Squared Error (MSE): 82010363.04
Multiple Regression - R-squared (R^2): 0.90

In [17]:
accuracy = 1-mse_multiple / y_test.var()
print('Accuracy: ', accuracy*100)

Accuracy:  90.88539772895774

Q2

In [18]:
# Importing libraries and loading dataset
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv(r"C:\Users\itanm\Downloads\ToyotaCorolla.csv")

In [19]:
# Display the first few rows of the dataset
data.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [20]:
# Select certain columns
selected_columns = ["Price", "Age_08_04", "KM", "HP", "cc", "Doors", "Gears", "Quarterly_Tax", "Weight"]
data = data[selected_columns]

In [21]:
# Display the updated dataframe
data.head()

   Price  Age_08_04     KM  HP    cc  Doors  Gears  Quarterly_Tax  Weight
0  13500         23  46986  90  2000      3      5            210    1165
1  13750         23  72937  90  2000      3      5            210    1165
2  13950         24  41711  90  2000      3      5            210    1165
3  14950         26  48000  90  2000      3      5            210    1165
4  13750         30  38500  90  2000      3      5            210    1170

In [22]:
# Preprocessing Data
# Check for missing values
data.isnull().sum()

Price            0
Age_08_04        0
KM               0
HP               0
cc               0
Doors            0
Gears            0
Quarterly_Tax    0
Weight           0
dtype: int64

In [23]:
# drop rows with any missing values.
data = data.dropna()

In [24]:
# Display the cleaned DataFrame
data.head()

   Price  Age_08_04     KM  HP    cc  Doors  Gears  Quarterly_Tax  Weight
0  13500         23  46986  90  2000      3      5            210    1165
1  13750         23  72937  90  2000      3      5            210    1165
2  13950         24  41711  90  2000      3      5            210    1165
3  14950         26  48000  90  2000      3      5            210    1165
4  13750         30  38500  90  2000      3      5            210    1170

In [25]:
# Split the Data into Features and Target Variable
# Define features (X) and target variable (y)
X = data.drop(columns=['Price'])
y = data['Price']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [28]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train:  (1148, 8)
Shape of X_test:  (288, 8)
Shape of y_train:  (1148,)
Shape of y_test: (288,)

In [29]:
# Train the Linear Regression Model
from sklearn.linear_model import LinearRegression

In [30]:
# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [31]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [33]:
# Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

Mean Absolute Error (MAE): 995.59

In [34]:
# Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse:.2f}")

Mean Squared Error (MSE): 1950244.99

In [35]:
# Root Mean Squared Error
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

Root Mean Squared Error (RMSE): 1396.51

In [36]:
# R-squared
r2 = r2_score(y_test, y_pred)
print(f"R-squared : {r2:.2f}")

R-squared : 0.85

In [37]:
# Accuracy
mse = mean_squared_error(y_test, y_pred)
accuracy = 1 - mse / y_test.var()
print('Accuracy: ', accuracy*100)

Accuracy:  85.43427969541449